<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <link rel="icon" href="../static/img/logo.jpeg" type="image/x-icon">
    <title>My ebook</title>
    {% block css %}    
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    {% block javascript %}
    {% endblock %}    
</head>
<body>
    <div id="content">
        <h1><a href="{% url 'index' %}">My ebook</a></h1>
        <nav class="navbar">
            <ul class="menu-horizontal">
                <li>
                    <a href="#">Libros</a>
                </li>
                <li>
                    <a href="#">Generos</a>
                    <ul class = "menu-vertical">
                        <li><a href="#">Literatura Clásica</a></li>
                        <li><a href="#">Poesía</a></li>
                        <li><a href="#">Novela</a></li>
                        <li><a href="#">Teatro</a></li>
                        <li><a href="#">Filosofía</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Idiomas</a>
                    <ul class = "menu-vertical">
                        <li><a href="#">Castellano</a></li>
                        <li><a href="#">Alemán</a></li>
                        <li><a href="#">Inglés</a></li>
                        <li><a href="#">Francés</a></li>
                        <li><a href="#">Euskera</a></li>
                    </ul>
                </li>
                
            </ul>
            <form method="post" action="{% url 'cambiar_idioma' %}">
                {% csrf_token %}
                <select name="idioma" id="select_idioma" onchange="this.form.submit()">
                    <option value="Castellano" {% if request.session.idioma_seleccionado == 'Castellano' %}selected{% endif %}>Castellano</option>
                    <option value="Euskera" {% if request.session.idioma_seleccionado == 'Euskera' %}selected{% endif %}>Euskera</option>
                    <option value="Francés" {% if request.session.idioma_seleccionado == 'Francés' %}selected{% endif %}>Francés</option>
                    <option value="Inglés" {% if request.session.idioma_seleccionado == 'Inglés' %}selected{% endif %}>Inglés</option>
                    <option value="Alemán" {% if request.session.idioma_seleccionado == 'Alemán' %}selected{% endif %}>Alemán</option>
                </select>
            </form>
        </nav>
        {% block contenido %}{% endblock %}
        <footer>
            <div class="footer-content">
                <h3><a href="#">My ebook</a></h3>
                <p>Sumérgete en la magia de la lectura con My eBook. Tu destino para explorar universos literarios sin fin.</p>
                <ul class="socials">
                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>                    <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 My ebook</p>
            </div>
        </footer>
    </div>
</body>
</html>