{% extends "base.html" %}
{% load i18n %}
{% block contenido %}
<div class="detalle_libro">
    <h1>{% trans "Detalles del Ebook" %}</h1>
    <div>
        <h2>{% trans "Título:" %}</h2>
        <p>{{ libro.titulo }}</p>
    </div>
    
    <div>
        <h2>{% trans "Género:" %}</h2>
        <p>{{ libro.genero }}</p>
    </div>
    <div>
        <h2>{% trans "Idiomas:" %}</h2>
        <ul>
            {% for idioma in libro.idioma.all %}
                <li>{{ idioma.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>{% trans "Autor:" %}</h2>
        <p>{{ libro.autor }}</p>
    </div>
    <div>
        <h2>{% trans "Descripción:" %}</h2>
        <p>{{ libro.descripcion }}</p>
    </div>
    <div>
        <h2>{% trans "Imagen:" %}</h2>
        {% if libro.imagen %}
            <img src="{{ libro.imagen.url }}" alt="Imagen del libro">
        {% else %}
            <p>{% trans "No hay imagen disponible para este libro:" %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}