{% extends "base.html" %}
{% block contenido %}
<body>
    <h1>Detalles del Ebook</h1>
    <div>
        <h2>Título:</h2>
        <p>{{ libro.titulo }}</p>
    </div>
    <div>
        <h2>Autor:</h2>
        <p>{{ libro.genero }}</p>
    </div>
    <div>
        <h2>Idiomas:</h2>
        <ul>
            {% for idioma in libro.idioma.all %}
                <li>{{ idioma.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Autor:</h2>
        <p>{{ libro.autor }}</p>
    </div>
    <div>
        <h2>Descripción:</h2>
        <p>{{ libro.descripcion }}</p>
    </div>
    <div>
        <h2>Imagen:</h2>
        {% if libro.imagen %}
            <img src="{{ libro.imagen.url }}" alt="Imagen del libro">
        {% else %}
            <p>No hay imagen disponible para este libro.</p>
        {% endif %}
    </div>
</body>
{% endblock %}