{% extends "base.html" %}
{% block titulo %}My ebook{% endblock %}
{% block contenido %}
    <h1>My ebook</h1>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'literaturaClasica' %}">Literatura Clásica</a></li>
            <li><a href="{% url 'novela' %}">Novela</a></li>
            <li><a href="{% url 'filosofia' %}">Filosofía</a></li>
            <li><a href="{% url 'teatro' %}">Teatro</a></li>
            <li><a href="{% url 'poesia' %}">Poesía</a></li>
        </ul>
    </nav>

    <main>
        <h3>Filosofía</h3>
        <p>La filosofía es un género literario que se dedica a explorar preguntas fundamentales sobre la existencia, la realidad, la conciencia, la moral, la verdad y el conocimiento. Los textos filosóficos suelen presentar argumentos lógicos y reflexiones profundas para desentrañar los misterios del universo y la experiencia humana. Este género abarca una amplia gama de escuelas de pensamiento y tradiciones, desde la filosofía antigua hasta las corrientes contemporáneas, ofreciendo una rica fuente de sabiduría e inspiración.</p>
    </main>
{% endblock %}



