{% extends "base.html" %}
{% block contenido %}
    <main>
        <h3>Filosofía</h3>
        <p>La filosofía es un género literario que se dedica a explorar preguntas fundamentales sobre la existencia, la realidad, la conciencia, la moral, la verdad y el conocimiento. Los textos filosóficos suelen presentar argumentos lógicos y reflexiones profundas para desentrañar los misterios del universo y la experiencia humana. Este género abarca una amplia gama de escuelas de pensamiento y tradiciones, desde la filosofía antigua hasta las corrientes contemporáneas, ofreciendo una rica fuente de sabiduría e inspiración.</p>
        <h4>Libros de Filosofía en {{ idioma_seleccionado.nombre }}</h4>
        <div class="libros-container">
            {% for libro in libros %}
                <div class="libro-item">
                    <img src="/appmyebook{{ libro.imagen.url }}" alt="{{ libro.titulo }}" />
                    <a href="{% url 'detalle_libro' libro.id %}">{{ libro.titulo }}</a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div><div class="libros-container">
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}



