{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script src="{% static 'js/cargarLibrosIdioma.js' %}"></script>
{% endblock %}
{% block contenido %}
    <main>
        <div class="paginaIdioma">
            <h3>Libros en {{ idioma.nombre }}</h3>
            <p>Aquí encontrarás una selección de libros en {{ idioma.nombre }}. Explora una variedad de títulos y géneros literarios disponibles en este idioma.</p>
            <ul id="contenedorLibros">
                <!-- Los libros cargados por AJAX aparecerán aquí -->
            </ul>
        </div>
    </main> 
{% endblock %}


