{% extends "base.html" %}
{% load static %}
{% block javascript %}
    <script src="{% static 'js/cargarLibros.js' %}"></script>
{% endblock %}
{% block contenido %}
    <main>
        <div class="paginaLibros">
            <h3>Todos los Libros</h3>
            <p>Aquí encontrarás una selección completa de todos los libros disponibles en nuestra biblioteca.</p>
            <ul id="contenedorLibros">
                <!-- Los libros cargados por AJAX aparecerán aquí -->
            </ul>
        </div>
    </main> 
{% endblock %}
