{% extends "base.html" %}
{% block contenido %}
    <main>
        <div class="paginaLibros">
            <h3>Todos los Libros</h3>
            <p>Aquí encontrarás una selección completa de todos los libros disponibles en nuestra biblioteca.</p>
            <ul>
            {% for libro in libros %}
                <li>
                    <div class="libro-item">
                        <a href="{% url 'detalle_libro' libro.id %}">
                            <img src="{{ libro.imagen.url }}" alt="{{ libro.titulo }}" />
                        </a>
                        <p></p>
                        <a href="{% url 'detalle_libro' libro.id %}">{{ libro.titulo }}</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </main> 
{% endblock %}