{% extends "base.html" %}
{% block contenido %}
    <main>
        <div class="paginaGenero">
            <h3>Teatro</h3>
            <p>El teatro es un género literario que se destaca por su naturaleza performativa y dialogada. Las obras de teatro están diseñadas para ser representadas en un escenario, con actores que dan vida a los personajes y la trama. Este género permite explorar una amplia gama de temas humanos a través de la interacción de los personajes y el uso de elementos dramáticos como el conflicto, la tensión y la resolución. Desde las tragedias griegas hasta las comedias contemporáneas, el teatro ofrece una experiencia literaria única que combina la palabra escrita con la expresión visual y sonora.</p>
            <ul>
            {% for libro in libros %}
                <div class="libro-item">
                    <a href="{% url 'detalle_libro' libro.id %}"><img src="/appmyebook{{ libro.imagen.url }}" alt="{{ libro.titulo }}" /></a>
                    <a href="{% url 'detalle_libro' libro.id %}">{{ libro.titulo }}</a>
                </div>
                {% endfor %}
            </ul>
        </div>
    </main> 
{% endblock %}



