/* Estilos para la barra de navegación */
.navbar {
    max-width: 100%;
    background-color: hsl(0, 0%, 25%); /* Fondo negro para la barra de navegación */
    font-size: 20px;
    color: white; /* Letras blancas */
    z-index:1000;
    position: relative;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white; /* Letras blancas */
    text-decoration: none;
}

/* Cambio de color al pasar el cursor */
.menu-horizontal > li:hover {
    background-color: hsl(0, 0%, 10%);
}

/* Estilos para los menús desplegables */
.menu-vertical {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 25%); /* Fondo negro para los menús desplegables */
    list-style: none;
    padding: 0;
    min-width: 200px;
}

.menu-horizontal > li {
    position: relative;
}

/* Mostrar menús desplegables al pasar el cursor */
.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li a {
    display: block;
    color: white; /* Letras blancas */
    text-decoration: none;
    padding: 10px 20px;
}

/* Cambio de color al pasar el cursor sobre los elementos del menú desplegable */
.menu-vertical li:hover {
    background-color: hsl(0, 0%, 10%);
}

.menu-icon {
    display: none;
}

h1{
    text-decoration: none;
    text-align: center;
}

h1 a {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

h1 a:before {
    content:"";
    position: absolute;
    bottom: -8px;
    height: 6px;
    width: 0;
    background: #bdbfc4;
    border-radius: 50px;
    transition: width 0.3s ease;
}

h1 a:hover:before {
    width: 100%;
}


.general {
    padding: 50px 0;
    text-align: center;
}
.Contenido{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.Contenido-1{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 170px 55px;
}
.Contenido-2{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 170px 55px;
}
.Contenido-3{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 170px 55px;
}
.Contenido-4{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 170px 55px;
}
.Contenido-5{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 170px 55px;
}

.Contenido-1 a, .Contenido-2 a, .Contenido-3 a, .Contenido-4 a, .Contenido-5 a {
    color: #e7e7e7;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px; /* Espaciado interno para mayor legibilidad */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    display: inline-block; /* Hace que cada enlace se comporte como un bloque en línea */
    margin-bottom: 10px; /* Agregamos un margen inferior para separar los elementos */
}

.Contenido-1 a:hover, .Contenido-2 a:hover,.Contenido-3 a:hover,.Contenido-4 a:hover,.Contenido-5 a:hover{
    transform: scale(1.1);
}

.h2{
    font-size: 70px;
    text-transform: uppercase;
    color: #fffdfc;
   
}
.texto h3{
    font-size: 18px;
    margin-bottom:10px;
    color: #fffdfc;
    text-transform: uppercase;
}
.texto p {
    color: #5d5454;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    padding: 10px; /* Espaciado interno para mayor legibilidad */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para el contenedor de libros */
.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Controla el espaciado horizontal entre los elementos */
  }
  
/* Estilo para cada libro individual */
.libro-item {
width: 23%; /* Ajusta el ancho para que 4 libros encajen en una fila */
margin-bottom: 20px; /* Controla el espaciado vertical entre los elementos */
text-align: center; /* Centra el contenido dentro de cada libro */
}

.libro-item img {
max-width: 100%;
height: auto;
}

.libro-item p {
margin: 10px 0;
font-size: 16px;
font-weight: bold;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    color: #fff;    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block; 
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.detalle_libro div {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.detalle_libro p {
    line-height: 1.6;
}

.detalle_libro ul {
    list-style: none;
    padding: 0;
}

.detalle_libro li {
    display: inline-block;
    margin-right: 5px;
}

.detalle_libro img {
    width: auto;
    height: auto;
}

.paginaGenero h3, .paginaIdioma h3, .paginaLibros h3 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.paginaGenero p, .paginaIdioma p, .paginaLibros p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.paginaGenero ul, .paginaIdioma ul, .paginaLibros ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paginaGenero li, .paginaIdioma li, .paginaLibros li {
    display: contents;
}


.libro-item {
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative; /* Agregamos posición relativa al contenedor .libro-item */
}

.libro-item img {
    width: 100%; /* Cambiamos de 100% a 90% para que la imagen ocupe el 90% del contenedor */
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto; /* Centramos la imagen dentro del contenedor */
}

.libro-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block; 
}

.libro-item a:hover{
    color: #6d747f;
} 


.libro-item:hover img {
    transform: scale(1.05);
}

main .paginaGenero, main .paginaIdioma, main .paginaLibros {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.librosRecientesLista img {
    width: 90%;
    height: 80%;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto; /* Centramos la imagen dentro del contenedor */
}

.librosRecientesLista a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block; 
}

.librosRecientesLista a:hover{
    color: #6d747f;
} 


.librosRecientesLista:hover img {
    transform: scale(1.05);
}

.librosRecientes h3 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Ocupa toda la anchura disponible */
}

.librosRecientes p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.librosRecientes ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.librosRecientes {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}


.librosRecientesLista {
    width: 30%; /* Cambié el ancho fijo a un porcentaje para que se ajuste al contenedor padre */
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}


/* Contenido */
body{
    margin: 0px;
    overflow-x: hidden;
    background-color: #f4f4f4;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}


